body{
    background-color: white;
}
.row .title{
    padding: 0px !important;
}
.btn-row{
    background-color: white;
}
.btn-row .Add{
    float: left;
    background: transparent;
    border: none;
    font-size: 3.4em;
    font-family: 'Lato', sans-serif;
}
button{
    margin-right:5%;
    margin-left: 5%; 
    color: #656263;
}
.btn-row .Add:focus{
    outline: none;
}
.btn-row .Delete{
    float: right;
    background: transparent;
    border: none;
    font-size: 3.4em;
    font-family: 'Lato', sans-serif;
}
.btn-row .Delete:focus{
    outline: none
}
.btn-row i{
    margin-right: 5px
}
table{
    width:100%;
}
th{
    height:50px;
}
td{
    max-width: 205px;
}
td img{

}
.theTable td input[type=checkbox]{
    margin-left: 20px;
}
.tableHeading{
    font-family: 'Lato', sans-serif;
    color: #656263;
}
.tableHeading th h1{
    font-size: 3.5em;
    
}
.nameDiv{
    margin-right: 20px;
}
.nameDiv input[name=firstName]{
    position: relative;
    height: 75px;
    border: none;
    font-size: 5em;
    border-bottom: 2px solid #6DC04E;
    background: transparent;
    color: #F2BA32;
    direction: RTL;
    font-family: 'Lato', sans-serif;
    float: right;
    max-width: 90%;
}
.nameDiv input[name=firstName]:focus{
    border: none;
    outline: none;
}
.nameDiv input[name=lastName]{
    position: relative;
    height: 50px;
    border: none;
    font-size: 2.5em;
    border-bottom: 2px solid #9B9899;
    background: transparent;
    color: #1ECB94;
    direction: rtl;
    font-family: 'Lato', sans-serif;
    float: right;
    max-width: 80%;
}
.nameDiv input[name=lastName]:focus{
    border: none;
    outline: none;
}
.HackAwayBadge{
    margin-left: 1%;
}